# Environment
.env

# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/**/.terraform/
terraform/.terraform.lock.hcl
terraform/**/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/**/tfplan
*.tfplan

# Vendor
src/vendor/

# Database
*.sqlite
*.db
data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
terraform.tfstate*
*.tfstate*

